/* styles/inscriptions.module.css */
.container {
    padding: 20px;
    background-color: #f5f5f5;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* This will center the banner vertically */
    background-color: #4781ff; /* Change to your preferred color */
    color: #FF69B4; /* Change to your preferred color */
    font-size: 2em;
    background: url("https://github.com/NFTEarth/nftearth-marketplace/blob/c662da664088992beadb1d14bbfb68a1ceebda43/public/nftearth-icon.svg") no-repeat center center fixed; 
    background-size: 50%; 
    background-position: center; 
  }
  .banner {
    /* other styles */
    background: url('https://raw.githubusercontent.com/NFTEarth/nftearth-marketplace/c662da664088992beadb1d14bbfb68a1ceebda43/public/nftearth-icon.svg') no-repeat center center fixed; 
    background-size: cover;
  }

  .title {
    /* other styles */
    margin-top: -20px; /* add negative top margin to move the text up */
  }
  /* styles/inscriptions.module.css */
.title {
    color: #FF69B4; /* bright pink */
    font-size: 2em;
  }
  
  .subtitle {
    color: #FF69B4; /* bright pink */
    font-size: 1.5em;
  }